<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Vocabulary Anagram</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet let's us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

<!-- Our own css file.  Note how we can link directly here and not -->
<!-- write any routing code in the Flask application. -->
<link rel="stylesheet" href="/static/jumble.css" />

</head>

<body>
<div class="container">

  <div class="row">
    <div class="col-xs-6 text-center">
      <h1>Words</h1>
    </div>
  </div>
<!-- Vocabularly words layed out in 6 columns;
  -- bootstrap may collapse to fewer columns and
  -- more rows if the window is narrow.
  -->
<div class="row">
  {% for word in g.vocab %}
  <div class="col-xs-2 text-center vocab-word" word="{{ word }}"> {{ word }} </div>
    {% if loop.index is divisibleby 3 %}
    </div> <!-- row -->
    <div class="row">
    {% endif %}
  {% endfor %}
</div> <!-- row -->

<br />

<div class="row">
  <div class="col-xs-6 text-center">
   Use letters from
  </div>
  </div><div class="row">
      <strong>
  <div class="col-xs-6 text-center lead vocab-letters" word="{{ session.jumble }}">
    {{ session.jumble }}
  </div>
      </strong>
  </div><div class="row">
  <div class="col-xs-6 text-center">
    to spell {{session.target_count}} words from the list.
  </div> <!-- col -->
</div> <!-- row -->
<br />
<div class="row">
  <div class="col-xs-6 text-center">
  <form id="entry">
    <label for="attempt">Word:</label>
    <input id="attempt" name="attempt" type="text" width="15"
      autocomplete="off" autofocus />
  </form>
</div></div>

<script>
// Suppress normal form submission
$("#attempt").keydown(function(event) {
    if (event.keyCode == 13) {
        console.log("Blocking enter from performing any action");
        event.preventDefault();
        return false;
    }
});

// Script that performs the query on keystroke instead of on enter
// On each keystroke, ask the server whether the current 
// word is long enough. 
//
// We use 'keyup' because the form value
// is updated before that event is generated.
// keypress is triggered before the input field has been
// updated.  Be aware that we'll see non-character keys like
// shift and control, so make sure whatever you do with the
// event does not depend on it being a letter. 
//
$("#attempt").keyup(function(event) {
    console.log("Beginning keyup event for #attempt");
    // Current content of the input field
    var txt = $("#attempt").val();

    // Reset message
    $("#message").html("");

    // Perform REST call
    console.log("Performing POST call for input in #attempt: " + txt);
    $.post( "/_check", { text: txt }, 
        function(data) {

            // Get data
            matches = data.result.matches;
            match_success = data.result.match_success;
            game_end = data.result.game_end;
            console.log("Response received: match_success: " + match_success
                + ", game_end: " + game_end);
            console.log("matches: " + matches);

            if (game_end) {
                // Redirect to sucess page
                window.location.replace(game_end);
            } else {
                // Show match success character
                if (match_success) {
                    $("#message").html("You found a match!");
                }
                // Update matches
                matches_html = "";
                for (var i = 0; i < matches.length; i++) {
                    matches_html += matches[i] + " ";
                }
                $("#matches").html(matches_html);
            }

            // Extra credit: dynamically color partially built words
            words = document.getElementsByClassName("vocab-word");
            for (var i = 0; i < words.length; i++) {
                inner = "";
                word = words[i].getAttribute("word");
                if (txt != "" && word.startsWith(txt)) {
                    inner = "<mark>" + txt + "</mark>" + 
                        word.substring(txt.length);
                } else {
                    inner = word;
                }
                words[i].innerHTML = inner;
            }

            // Extra credit: highlight used letters in anagram
            elem = document.getElementsByClassName("vocab-letters")[0];
            jumble = elem.getAttribute("word");
            accepted = $("#matches").html();
            format = "";
            for (var i = 0; i < jumble.length; i++) {
                if (accepted.includes(jumble.charAt(i))) {
                    format += "<mark>" + jumble.charAt(i) + "</mark>";
                } else {
                    format += jumble.charAt(i);
                }
            }
            elem.innerHTML = format;
        }
    );
});

</script>

<br />
 <!-- Places to store the matches and message -->
<p id="matches"></p>
<p id="message"></p>

 </div> <!-- container -->
</body> </html>
